.aside-barpassager {
    color:#0f4c75;
    width: 70%;
    margin: auto;
    display: flex;
    
}
.aside{
    width: 30%;
    margin-top: 80px;
       
        padding: 10px;
    }

.aside-link{
    width: 70%;
}

a {
   
    text-align: left;
    text-decoration: none;
}
a :hover{
    background-color: #ff6f5e;
}

ul {
    
    list-style: none;
}

li {
    
    font-size: 15px;
    color:#0f4c75;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 0.3px solid grey;
}
.list-title{
    background-color: #f5f0e3;
}
.form-passager {
    margin-top: 70px;
}